body {
  margin-top: 50px;
  background: #eee;
  color: #6888A5;
}
div.container {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 0 1px;
  padding: 20px;
}
div.widgets-area {
  background-color: #E0EEF8;
  padding: 10px;
}
div.dropzone {
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  border: 1px dashed black;
}
div.draggable {
  border: 1px dashed black;
  width: 80px;
  padding: 10px;
  margin: 10px 0px;
  cursor: move;
}
div.survey-area {
  margin-top: 20px;
  border: 1px dotted #eeeeee;
}

div.item {
  padding: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

div.item.block {
  border: 2px solid #EFAA1F;
  margin-bottom: 10px;
  color: #EFAA1F;
}
div.item.question {
  background: #EBF8B8;
  margin-bottom: 5px;
}
div.item.option {
  background: #D1D0A3;
  margin-right: 2px;
  max-width: 50px;
  display: inline-block;
}
