body {
  margin-top: 50px;
  background: #eee;
  color: #6888A5;
}
div.container {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 0 1px;
  padding: 20px;
}
div.widgets-area {
  background-color: #E0EEF8;
  padding: 10px;
}
div.dropzone {
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  border: 1px dashed black;
}
div.draggable {
    border: 1px dashed black;
    width: 60px;
    height: 60px;
    margin: 10px 12px;
    cursor: move;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding-top: 20px;
    border-radius: 8px;
    border: 0;
    color: white;
    background: #EFAA1F;
}
div.survey {
  padding: 20px;
  border: 1px dashed #ccc;
}

div.item {
  color: rgba(0, 0, 0, 0.5);
}

div.item.block {
  border: 2px solid #EFAA1F;
  color: #EFAA1F;
  position: relative;
  margin-bottom: 25px;
  padding: 25px;
  min-height: 40px;
}

div.item.block:last-child {
    margin-bottom: 0;
}

div.item.block:after {
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    top: 0;
    right: 0;
    content: "block";
    font-style: italic;
    background: #EFAA1F;
    padding: 0 2px 2px 5px;
    color: white;
}


div.item.question {
  border: 2px solid #c4ea2d;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}

div.item.question:after {
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    top: 0;
    right: 0;
    content: "question";
    font-style: italic;
    background: #c4ea2d;
    padding: 0 2px 2px 5px;
}

div.item.question .qtext {
    font-weight: 400;
    margin-bottom: 5px;
}
div.item.option {
    border: 1px solid #D1D0A3;
    margin-right: 7px;
    display: inline-block;
    color: #9d9c4f;
    font-weight: 200;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 12px;
}
