/* animation */
:target {
  animation: highlight 1s ease-in;
}
@keyframes highlight {
  0% { background-color: #fcf1bb; }
  100% { background-color: white; }
}

body {
  margin: 50px 0;
  background: #eee;
  color: #6888A5;
}
div.container {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 0 1px;
  min-width: 960px;
  min-height: 300px;
  padding-bottom: 40px;
}
div.controls button {
  margin-top: 10px;
  float: right;
}
div.widgets-area {
  background-color: #E0EEF8;
  padding: 10px;
}
div.item.dragging, div.survey.dragging {
    background: #f4fbd7;
}
div.item.hovering, div.survey.hovering {
    background: #eeeeee;
}

div.dropzone {
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  border: 1px dashed black;
}
div.draggable {
    border: 1px dashed black;
    width: 60px;
    height: 60px;
    margin: 10px 12px;
    cursor: move;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding-top: 20px;
    border-radius: 8px;
    border: 0;
    color: white;
    background: #EFAA1F;
}
div.draggable i {
    display: block;
    margin: -5px 0 0 0;
    font-size: 15px;
}

div.config-area ul li i {
    opacity: 0.4;
}

div.config-area ul li div.active i {
    opacity: 1.0;
}

div.survey {
  padding: 20px;
  border: 1px dashed #ccc;
}

div.config-area ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

div.config-area ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

div.item div.controls-area {
    visibility: hidden;
}

div.item:hover div.controls-area {
    visibility: visible;
}

div.item div.controls-area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

div.item div.controls-area ul li {
    display: inline-block;
    cursor: pointer;
}

div.item.block div.controls-area ul li {
    font-size: 18px;
    margin: 0 8px;
}

div.item.question div.controls-area {
    display: inline-block;
}
div.item.question div.controls-area ul li {
    font-size: 14px;
    margin: 0 4px;
}

p.help-text {
    color: #bbb;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 8px;
}

div.item {
  color: rgba(0, 0, 0, 0.5);
  background: white;
}

div.item.block {
  border: 2px solid #EFAA1F;
  color: #EFAA1F;
  position: relative;
  margin-bottom: 25px;
  padding: 0 30px;
  min-height: 40px;
}

div.item.block:last-child {
    margin-bottom: 0;
}

div.item.block:after {
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    top: 0;
    right: 0;
    content: "block";
    font-style: italic;
    background: #EFAA1F;
    padding: 0 2px 2px 5px;
    color: white;
}

div.item.question {
  border: 2px solid #c4ea2d;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}

div.item.question:after {
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    top: 0;
    right: 0;
    content: "question";
    font-style: italic;
    background: #c4ea2d;
    padding: 0 2px 2px 5px;
}

div.item.question .qtext {
    font-weight: 600;
    margin-bottom: 5px;
}

div.item.question div.qtext-area i {
    margin-left: 10px;
    visibility: hidden;
}

div.item.question div.qtext-area:hover i {
    cursor: pointer;
    visibility: visible;
}

div.alert {
    top: 15px;
    position: fixed;
    left: 42%;
    z-index: 10;
    padding: 10px;
    color: #222;
    text-align: center;
    font-size: 13px;
    border: black;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-transform: capitalize;
}

div.alert a {
    font-weight: bold;
    text-decoration: underline;
    color: #222;
    cursor: pointer;
    margin-left: 10px;
}

/* styles for react tags */
div.ReactTags__tags {
    position: relative;
    margin-top: 8px;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 100px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input, 
div.ReactTags__tagInput input:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    outline: none;
    padding: 5px;
}

/* Styles for selected tags */
div.ReactTags__selected {
    float: left;
}
div.ReactTags__selected span.ReactTags__tag {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    cursor: move;
    border: 1px solid #D1D0A3;
    margin-right: 7px;
    display: inline-block;
    color: #9d9c4f;
    padding: 3px 8px;
    border-radius: 20px;
    
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    z-index: 10;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 100px;
    padding: 0;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
    padding: 0;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
div.tree-view {
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 20px;
}
div.tree-view h3 {
    margin-top: 0;
}
div.tree-view_arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.tree-view_children {
    margin-left: 15px;
}
div.tree-view_node-block {
    margin: 10px 0;
    border: 1px dashed #bbb;
    padding: 10px;
    cursor: move;
}
div.tree-view_node-block:hover {
    border: 1px solid #EFAA1F;
}
div.tree-view_node-question {
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px dashed #bbb;
    cursor: move;
}
div.tree-view_node-question:hover {
    border: 1px solid #c4ea2d;
}
span.tree-view_question-title, span.tree-view_block-title {
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}
div.tree-view_node {
    font-size: 12px;
}

.itemTransition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.itemTransition-leave.itemTransition-leave-active {
  opacity: 0.01;
}

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #cccccc;
  border-color: #d9d9d9 #cccccc #b3b3b3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: white;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  color: #aaaaaa;
  padding: 8px 52px 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: -15px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333333;
}
.Select-input > input {
  cursor: default;
  background: none transparent;
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select-clear {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  position: absolute;
  right: 17px;
  top: 0;
}
.Select-clear:hover {
  color: #c0392b;
}
.Select-clear > span {
  font-size: 1.1em;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5px);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select.is-multi .Select-control {
  padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 2px;
  padding: 3px 0;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #0088cc;
  display: inline-block;
  font-size: 1em;
  margin: 2px;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  cursor: default;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #0088cc;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 2px 5px 4px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
